
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #00c3ff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%23f9f3f3' fill-opacity='0.5' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E");
    overflow: hidden;
}

.slide-container {
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.image-slider {
    width: 100%;
    height: 600px;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .7s;
}

.slides-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px 0 30px;
}

.img {
    position: relative;
    width: 240px;
    height: 370px;
    transition: .5s;
    filter: saturate(10%);
}

.video {
    position: relative;
    width: 240px;
    height: 370px;
    transition: .5s;
    filter: saturate(10%);
}

.button {
    position: absolute;
    width: 240px;
    height: 370px;
    transition: .5s;
    background-color: rgba(0, 0, 0, .4);
}

.button:hover {
    background-color: rgba(0, 0, 0, .2);
}

#slider-span1:target ~ .image-slider #img1,
#slider-span1:target ~ .image-slider #button-1 {
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span2:target ~ .image-slider #img2,
#slider-span2:target ~ .image-slider #button-2 {
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span3:target ~ .image-slider #img3,
#slider-span3:target ~ .image-slider #button-3 {
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span4:target ~ .image-slider #img4,
#slider-span4:target ~ .image-slider #button-4 {
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span5:target ~ .image-slider #img5,
#slider-span5:target ~ .image-slider #button-5 {
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span6:target ~ .image-slider #img6,
#slider-span6:target ~ .image-slider #button-6 {
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span7:target ~ .image-slider #img7,
#slider-span7:target ~ .image-slider #button-7 {
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span8:target ~ .image-slider #img8,
#slider-span8:target ~ .image-slider #button-8 {
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span9:target ~ .image-slider #video9,
#slider-span9:target ~ .image-slider #button-9 {
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span10:target ~ .image-slider #img10,
#slider-span10:target ~ .image-slider #button-10 {
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span11:target ~ .image-slider #img11,
#slider-span11:target ~ .image-slider #button-11 {
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span12:target ~ .image-slider #img12,
#slider-span12:target ~ .image-slider #button-12 {
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span13:target ~ .image-slider #video13,
#slider-span13:target ~ .image-slider #button-13 {
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span14:target ~ .image-slider #img14,
#slider-span14:target ~ .image-slider #button-14 {
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span15:target ~ .image-slider #img15,
#slider-span15:target ~ .image-slider #button-15 {
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span16:target ~ .image-slider #img16,
#slider-span16:target ~ .image-slider #button-16 {
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span17:target ~ .image-slider #video17,
#slider-span17:target ~ .image-slider #button-17 {
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span18:target ~ .image-slider #video18,
#slider-span18:target ~ .image-slider #button-18 {
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span19:target ~ .image-slider #img19,
#slider-span19:target ~ .image-slider #button-19 {
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span20:target ~ .image-slider #img20,
#slider-span20:target ~ .image-slider #button-20 {
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span21:target ~ .image-slider #video21,
#slider-span21:target ~ .image-slider #button-21 {
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span22:target ~ .image-slider #img22,
#slider-span22:target ~ .image-slider #button-22 {
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span23:target ~ .image-slider #img23,
#slider-span23:target ~ .image-slider #button-23 {
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}

/*image position */

#slider-span1:target ~ .image-slider {left: 95%;}
#slider-span2:target ~ .image-slider {left: 87%;}
#slider-span3:target ~ .image-slider {left: 79%;}
#slider-span4:target ~ .image-slider {left: 71%;}
#slider-span5:target ~ .image-slider {left: 63%;}
#slider-span6:target ~ .image-slider {left: 55%;}
#slider-span7:target ~ .image-slider {left: 47%;}
#slider-span8:target ~ .image-slider {left: 39%;}
#slider-span9:target ~ .image-slider {left: 31%;}
#slider-span10:target ~ .image-slider {left: 23%;}
#slider-span11:target ~ .image-slider {left: 15%;}

#slider-span13:target ~ .image-slider {left: -15%;}
#slider-span14:target ~ .image-slider {left: -23%;}
#slider-span15:target ~ .image-slider {left: -31%;}
#slider-span16:target ~ .image-slider {left: -39%;}
#slider-span17:target ~ .image-slider {left: -47%;}
#slider-span18:target ~ .image-slider {left: -55%;}
#slider-span19:target ~ .image-slider {left: -63%;}
#slider-span20:target ~ .image-slider {left: -71%;}
#slider-span21:target ~ .image-slider {left: -79%;}
#slider-span22:target ~ .image-slider {left: -87%;}
#slider-span23:target ~ .image-slider {left: -95%;}

/*
audio {
    position: absolute;
    left: -999px;
    top: -999px;
}
*/